<div class="menu" ng-controller="app.views.layout.sidebarNav as vm">
    <ul class="list">
        <li ng-repeat="menuItem in vm.menuItems" ng-if="vm.showMenuItem(menuItem)" ui-sref-active="active">
            <!-- route name -->
            <a ui-sref="{{menuItem.route}}" ng-if="!menuItem.items && menuItem.route.indexOf('http') != 0">
                <i ng-if="menuItem.icon" class="material-icons">{{menuItem.icon}}</i>
                <span>{{menuItem.name}}</span>
            </a>
            <!-- Static link (starts with 'http') -->
            <a href="{{menuItem.route}}" target="_blank" ng-if="!menuItem.items  && menuItem.route.indexOf('http') == 0">
                <i ng-if="menuItem.icon" class="material-icons">{{menuItem.icon}}</i>
                <span>{{menuItem.name}}</span>
            </a>
            <!-- Has child menu items (so, this is a parent menu) -->
            <a href="javascript:void(0);" class="menu-toggle" ng-if="menuItem.items">
                <i ng-if="menuItem.icon" class="material-icons">{{menuItem.icon}}</i>
                <span>{{menuItem.name}}</span>
            </a>
            <ul class="ml-menu" ng-if="menuItem.items">
                <li ng-repeat="subMenuItem in menuItem.items" ng-if="vm.showMenuItem(subMenuItem)" ui-sref-active="active">
                    <!-- route name -->
                    <a ui-sref="[subMenuItem.route]" class="toggled" ng-if="!subMenuItem.items && subMenuItem.route.indexOf('http') != 0">
                        <i ng-if="subMenuItem.icon" class="material-icons">{{subMenuItem.icon}}</i>
                        <span>{{subMenuItem.name}}</span>
                    </a>
                    <!-- Static link (starts with 'http') -->
                    <a href="{{subMenuItem.route}}" class="toggled" target="_blank" ng-if="!subMenuItem.items && subMenuItem.route.indexOf('http') == 0">
                        <i ng-if="subMenuItem.icon" class="material-icons">{{subMenuItem.icon}}</i>
                        <span>{{subMenuItem.name}}</span>
                    </a>
                    <!-- Has child menu items (so, this is a parent menu) -->
                    <a href="javascript:void(0);" class="menu-toggle" ng-if="subMenuItem.items">
                        <i ng-if="subMenuItem.icon" class="material-icons">{{subMenuItem.icon}}</i>
                        <span>{{subMenuItem.name}}</span>
                    </a>
                    <ul class="ml-menu" ng-if="subMenuItem.items">
                        <li ng-repeat="subSubMenuItem in subMenuItem.items" ng-if="vm.showMenuItem(subSubMenuItem)" ui-sref-active="active">
                            <!-- route name -->
                            <a ui-sref="[subSubMenuItem.route]" ng-if="subSubMenuItem.route.indexOf('http') != 0">
                                <i ng-if="subSubMenuItem.icon" class="material-icons">{{subSubMenuItem.icon}}</i>
                                <span>{{subSubMenuItem.name}}</span>
                            </a>
                            <!-- Static link (starts with 'http') -->
                            <a href="{{subSubMenuItem.route}}" target="_blank" ng-if="subSubMenuItem.route.indexOf('http') == 0">
                                <i ng-if="subSubMenuItem.icon" class="material-icons">{{subSubMenuItem.icon}}</i>
                                <span>{{subSubMenuItem.name}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>